<h1>Hello Taste-Master Blasters!</h1>
  <h2>Task List</h2>
    <ul>
      <li>
        #, Name, Description, Completed Date
      </li>
      <% @all_tasks.each.map do |id, name, desc, date| %>
      <li>
      <%= id %>,  <%= name %>, <%= desc %>, <%= date %>

        <a href="delete/<%=id%>">Delete?</a>
      <% end %>
      </li>

    </ul>
